<div class="article-container-brouillons-redacteur">
    <section class="article-header-brouillons-redacteur">
        <div class="article-content-brouillons-redacteur">
            <h2>Brouillons</h2>
            <p>Gérez vos articles en attente de la publication</p>
        </div>

    </section>
    <section class="article-liste-brouillons-redacteur">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Date de planification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les lignes de l'article seront ajoutées ici -->
              
            </tbody>
        </table>
    </section>
</div>