
<section class="login-form">
  

  <div class="register-form-img-background">
    <div class="register-form-img-background-details-texte">
      <div class="register-details-texte-header">
        <h1>INFORMEZ-<i>VOUS.CD</i></h1>
        <p>Une source d'actualités fiable, rapide et diversifiée.</p>
      </div>

      <div class="register-details-texte-body">
        <div class="actualite-descr">
          <ion-icon name="newspaper-outline"></ion-icon>
          <p>Actualités en temps réel</p>
          
        </div>
        <div class="actualite-descr">
          <ion-icon name="shield-outline"></ion-icon>
          <p>Information fiable</p>
        </div>
        <div class="actualite-descr">
          <ion-icon name="people-outline"></ion-icon>
          <p>Communauté engagée</p>
        </div>
      </div>
    </div>
  </div>

  <div class="login-form-container">
    <div class="container-login">
      <h1>Connexion</h1>
      <form id="connection-form" novalidate>
        <label for="login-email">E-mail :</label>
        <input
          type="email"
          id="login-email"
          name="email"
          autocomplete="login-new-email"
        />

        <label for="login-password">Mot de passe:</label>
        <input
          type="password"
          id="login-password"
          name="password"
          autocomplete="login-new-password"
        />

        <button type="submit">Se connecter</button>
          <p id="login-user"></p>
      </form>
      <div id="toast" class="toast"></div>
    </div>
    
  </div>



</section>
