<section class="register-form">


  <div class="register-form-container">

    <div class="container-login">
      <h1>Inscription</h1>
      <form id="inscription-form" novalidate="novalidate">
        <div class="form-group">
          <label for="usename"></label>
          <input type="text" id="usename" name="usename" autocomplete="new-usename" placeholder="Nom d'utilisateur"/>
        </div>

        <div class="form-group">
          <label for="login-email"></label>
          <input type="email" id="login-email" name="email" autocomplete="login-new-email" placeholder="E-mail"/>
        </div>

        <div class="form-group">
          <label for="login-password"></label>
          <input type="password" id="login-password-1" name="password" autocomplete="login-new-password" placeholder="Mot de passe"/>
        </div>
        <div class="form-group">
          <label for="login-password"></label>
          <input type="password" id="login-password" name="password" autocomplete="login-new-password" placeholder="Confirmer le mot de passe"/>
        </div>

        <div class="form-group">
          <label for="role"></label>
          <select name="Role" id="role" aria-label="Rôle">
            <option value="">-- Sélectionnez un rôle --</option>
            <option value="rédacteur">Rédacteur</option>
            <option value="administrateur">Administrateur</option>
          </select>
        </div>

        <div class="form-group two-col">
          <div>
            <label for="first-name"></label>
            <input type="text" id="first-name" name="nom" autocomplete="new-first-name" placeholder="Prénom"/>
          </div>
          <div>
            <label for="last-name"></label>
            <input type="text" id="last-name" name="Postnom" autocomplete="new-last-name" placeholder="Nom"/>
          </div>
        </div>

        <div class="form-group two-col">
          <div>
            <label for="phone"></label>
            <input type="text" id="phone" name="phone" autocomplete="new-phone" placeholder="Tél:+18197767500"/>
          </div>
          <div>
            <label for="city"></label>
            <input type="text" id="city" name="city" autocomplete="new-city" placeholder="Ville"/>
          </div>
        </div>

        <div class="form-group full-width">
          <label for="adress"></label>
          <input type="text" id="adress" name="adress" autocomplete="new-adress" placeholder="Adresse"/>
        </div>

        <div class="form-group two-col colonne">
          <div>
            <label for="code-postal"></label>
            <input type="text" id="code-postal" name="code-postal" autocomplete="new-code-postal" placeholder="Postal / Numero parcelle"/>
          </div>
          <div>
            <label for="country"></label>
            <select name="country" id="country" aria-label="Pays">
              <option value="">-- Sélectionnez un pays --</option>
              <option value="Afrique du Sud">Afrique du Sud</option>
              <option value="Algérie">Algérie</option>
              <option value="Angola">Angola</option>
              <option value="Bénin">Bénin</option>
              <option value="Botswana">Botswana</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cabo Verde">Cabo Verde</option>
              <option value="Cameroun">Cameroun</option>
              <option value="Centrafrique">Centrafrique</option>
              <option value="Comores">Comores</option>
              <option value="Congo">Congo</option>
              <option value="Côte d’Ivoire">Côte d’Ivoire</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Égypte">Égypte</option>
              <option value="Érythrée">Érythrée</option>
              <option value="Eswatini">Eswatini</option>
              <option value="Éthiopie">Éthiopie</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambie">Gambie</option>
              <option value="Ghana">Ghana</option>
              <option value="Guinée">Guinée</option>
              <option value="Guinée-Bissau">Guinée-Bissau</option>
              <option value="Guinée équatoriale">Guinée équatoriale</option>
              <option value="Kenya">Kenya</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libye">Libye</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Mali">Mali</option>
              <option value="Maroc">Maroc</option>
              <option value="Maurice">Maurice</option>
              <option value="Mauritanie">Mauritanie</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Namibie">Namibie</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Ouganda">Ouganda</option>
              <option value="RDC">République démocratique du Congo</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Sao Tomé-et-Principe">Sao Tomé-et-Principe</option>
              <option value="Sénégal">Sénégal</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Somalie">Somalie</option>
              <option value="Soudan">Soudan</option>
              <option value="Soudan du Sud">Soudan du Sud</option>
              <option value="Tanzanie">Tanzanie</option>
              <option value="Tchad">Tchad</option>
              <option value="Togo">Togo</option>
              <option value="Tunisie">Tunisie</option>
              <option value="Zambie">Zambie</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <button type="submit">Inscrire</button>
          
        </div>

        <p></p>
      </form>

    </div>
  </div>
</section>
