<div class="article-container-brouillons-admin">
    <section class="article-header-brouillons-admin">
        <div class="article-content-brouillons-admin">
            <h2>Brouillons</h2>
            <p>Gérez vos articles en attente de la publication</p>
        </div>

    </section>
    <section class="article-liste-brouillons-admin">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les lignes de l'article seront ajoutées ici -->
                
               
            </tbody>
        </table>
    </section>
</div>