<div class="article-container-planifier-admin">
    <section class="article-header-planifier-admin">
        <div class="article-content-planifier-admin">
            <h2>Mes articles planifiés</h2>
            <p>Gérez vos articles planifiés pour une publication.</p>
        </div>

    </section>
    <section class="article-liste-planifier-admin">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Date pour la publication</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </section>
</div>