<div class="profil-container-admin">
    <section class="profil-header-admin">
        <div class="profil-content-admin">
            <h2>Profils</h2>
            <p>Gérez vos profils utilisateurs</p>
        </div>

        <a class="btn-creer-profil-admin" href="/register" aria-label="Aller à la page inscription">
                <span>Créer un profil</span>
        </a>

    </section>
    <section class="profil-liste-info-admin">
        <div class="profil-liste-admin">
            <ol>
                
                
            </ol>
        </div>
        <div class="profil-info-update-admin">
            <div class="profil-info-liste-admin">
                <h3>Informations personnelles</h3>
                <ul>
                    <form >
                        

                        
                    </form>
                </ul>
            </div>
        </div>
    </section>
</div>