<div class="actualite-container">
    <section class="actualite-titre">
        <h2>Actualités</h2>
        <p>Restez informé des dernières nouvelles</p>
    </section>
    <section class="actualite-filtre">
        <select name="categorie" id="filtre-by-categorie" aria-label="Filtre par catégorie">
            <option value="">Toutes les catégories</option>
            
        </select>

       
    </section>

    <section class="actualite-contenu">
        
    </section>
</div>
