<div class="home-container">
  <section class="a-la-une">
    <div class="a-la-une-details">
      
    </div>
   
  </section>

  <section class="dernieres-actualites">
    <h2>Dernières actualités</h2>
    <div class="dernieres-actualites-container">
      
    </div>
  </section>

  <section class="liste-categories">
    <h2>Catégories</h2>
    <div class="liste-categorie-container">
      
    </div>

  </section>

  <section class="equipe">
    <h2>Notre équipe</h2>
    <p class="equipe-desc">Une équipe de journalistes passionnés et expérimentés couvrant l'actualité en temps réel</p>
    {{!-- <div class="equipe-container">
      
      
    </div> --}}
  </section>
</div>
