<footer>
  <section class="footer-logo-descip">
    <h1>INFORMEZ-<i>VOUS.CD</i></h1>
    <p>L'info qui éclaire, la verité qui unit.</p>
  </section>
  <section class="footer-navigation">
    <h3>Navigations</h3>
    <p>Accueil</p>
    <p>Actualités</p>
    <p>Catégories</p>
    <p>À propos</p>
    <p>Mentions légales</p>
    <p>Confidentialité</p>
  </section>
  <section class="footer-categories">
    <h3>Catégories</h3>
    
  </section>
  <section class="footer-informations">
    <h3>Informations</h3>
    <a href="/apropos" aria-label="Aller à la page à propos">
      <p>À propos</p>
    </a>
    <a href="/mention-legale" aria-label="Aller à la page mention légale">
      <p>Mentions légales</p>
    </a>
    <a href="/confidentialite" aria-label="Aller à la page confidentialité">
      <p>Confidentialité</p>
    </a>
    
    
  </section>
  <section class="footer-contacter">
    <h3>Nous contacter</h3>
    <p>informezvouscd@gmail.com</p>
    <p>+243 895760493</p>
    <p>+243 821079554</p>
  </section>
  <section class="footer-nous-suivre">
    <h3>Suivez-nous</h3>
    <div class="apercu-article-content-medias">
      <a href="https://www.facebook.com/profile.php?id=61590444495270" aria-label="Aller vers facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://x.com/Efoyamika" aria-label="Aller vers twitter ou X">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    
    </div>
    <span>&copy; <span class="annee"></span> INFORMEZ-VOUS.CD. <br> Tous droits réservés.</span>
  </section>
</footer>
