  <ion-icon class="menu-outline" name="menu-outline"></ion-icon>
<header>
  <div class="logo-close-menu">
      
      <a href="/" aria-label="Aller à la page d'accueil">
      <img src="/assets/logo.jpeg" alt="">
    </a>
    <ion-icon class="close-outline" name="close-outline"></ion-icon>
    
  </div>
  <div class="header-link">
    <a class="{{#if (eq currentPage '/' )}}active{{/if}}" href="/" aria-label="Aller à la page d'accueil">
      <i><ion-icon name="home-outline"></ion-icon></i>Accueil
    </a>
    <a class="{{#if (or (eq currentPage 'actualite') (eq currentPage 'lire-article'))}}active{{/if}}" aria-label="Aller à la page actualité" href="/actualite">
      <i><ion-icon n-icon name="folder-outline"></ion-icon></i>Actualités
    </a>
    <a class="{{#if (eq currentPage 'categories')}}active{{/if}}" aria-label="Aller à la page catégories" href="/categories">
      <i><ion-icon
            name="newspaper-outline"
          ></ion-icon></i>Catégories
    </a>
    <a class="{{#if (or (or (eq currentPage 'apropos') (eq currentPage 'mention-legale')) (eq currentPage 'confidentialite'))}}active{{/if}}" aria-label="Aller à la page à propos" href="/apropos">
      <i><ion-icon name="document-outline"></ion-icon></i> À propos
    </a>
  </div>
  <div class="search-connexion">
    <div class="search">
        <a aria-label="Aller à la page search" class="{{#if (eq currentPage 'search')}}active{{/if}}" href="/search">
          <ion-icon name="search-outline"></ion-icon>
        </a>
    </div>
    <div class="connexion-admin-redacteur">
        <a aria-label="Aller à la page login" class="{{#if (eq currentPage 'login')}}active{{/if}}" href="/login">
          <ion-icon name="person-outline"></ion-icon>
          Connexion
        </a>
    </div>
  </div>
</header>