<aside>
    <div class="aside-container">
        <div class="aside-container-logo-close-menu">

      <a href="/admin/dashboard" aria-label="Aller à la page dashboard">
          <img src="/assets/logo.jpeg" alt="">
        </a>

      <ion-icon class="close-outline" name="close-outline">
      </ion-icon>

    </div>

        <div class="aside-menu">
            <a href="/redacteur/dashboard" aria-label="Aller à la page dashboard" class="{{#if (eq currentPage 'dashboard')}}activeLink{{/if}}"><i><ion-icon name="home-outline"></ion-icon></i> Tableau de bord</a>
            <a href="/redacteur/articles" aria-label="Aller à la page articles" class="{{#if (eq currentPage 'articles')}}activeLink{{/if}}"><i><ion-icon name="newspaper-outline"></ion-icon></i> Tous mes articles</a>
            <a href="/redacteur/create-article" aria-label="Aller à la page créer un article" class="{{#if (or (eq currentPage 'create-article') (eq currentPage 'update-article'))}}activeLink{{/if}}"><i><ion-icon name="folder-outline"></ion-icon></i> Créer un article</a>
            <a href="/redacteur/brouillons" aria-label="Aller à la page brouillons" class="{{#if (eq currentPage 'brouillons')}}activeLink{{/if}}"><i><ion-icon name="document-outline"></ion-icon></i> Mes brouillons</a>
            <a href="/redacteur/planifier" aria-label="Aller à la page planifier" class="{{#if (eq currentPage 'planifier')}}activeLink{{/if}}"><i><ion-icon name="alarm-outline"></ion-icon></i> Mes articles planifiés</a>
            <a href="/redacteur/profils" aria-label="Aller à la page profils" class="{{#if (or (eq currentPage 'profils' ) (eq currentPage 'register'))}}activeLink{{/if}} "><i><ion-icon name="id-card-outline"></ion-icon></i> Profils</a>
        </div>
    </div>

    <div class="logout-button-container">
        <ion-icon class="log-out-outline" name="log-out-outline"></ion-icon>
        <button class="logout-button">
          Déconnexion
        </button>
    </div>
</aside>
